/* poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

/* header section background */

#header
{
    background-color: #FFFF;
}
/* navigation section */


.form-control
{
    width: 400px;
    height: 48px;
    background: #F1F1F1;
    font-style: italic;
    color: #CCCCCC;
    border-radius: 66px;
    position: relative;
}

.nav-item
{
    margin-right: 24px;
}
.fa-search
{
    margin-top: 15px;
    margin-left: 370px;
    position: absolute;
}
.carousel-item
{
    background-color: #FEEAE9;
}
.banner-heading
{
    font-weight:700;
}
.banner-details
{
    font-weight: 400;
    color: #4E4E4E;
}
.price
{
    color: #FF136F;
}
.button-color{
    background-color: #FF589B;
    color:#FFFF;
}


/*---------
          Number of catagories 
   
   
          ---------*/
.section-discription
{
    height:120px;
}

.categories-headline
{
    font-weight: 600;
    color:#1F1F1F;
    font-size: 36px;

}

.bg-watch
{
    background: linear-gradient(152.07deg, #FF9C35 1.47%, #FFD019 97.17%);
   
}
.bg-bags
{
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
}
.bg-shoes 
{
    background: linear-gradient(170.41deg, #4289FF -10.89%, #3F07F8 92.77%);
}
.Product-img
{
    height: 90px;
}


/* main section background */

#main
{
    background: #F4F4F4;
}

.bag-size
{
    width: 290px;
    height: 290px;
    margin-left: 25px;
}

.my-border
{
    border-radius: 20px;
}

/* footer section */



.contact 
{
background-color: #FFF2F1;
}

